<!DOCTYPE html>
<html>
<head>
    <title>Skylle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="/static/images/skylle.ico" itemprop="image">
    <link rel="shortcut icon" href="/static/images/skylle.ico">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/skylle.css" rel="stylesheet" media="screen">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="static/js/sockjs.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vertxbus-2.1.js"></script>
    <script src="static/js/angular-sanitize.min.js"></script>
    <script src="static/js/angular-animate.min.js"></script>
    <script src="static/js/skylle.js"></script>
</head>
<body ng-app="skylleApp">
    <div class="skylle-main-container" ng-controller="messagesController">
        <div class="skylle-fluid-container skylle-controls skylle-controls-fixed">

            <div class="btn-group pull-left">
                <button type="button" ng-class="{'skylle-not-active': !showDanger}" class="btn btn-default btn-danger" ng-click="changeConfig(40000)" ng-init="showDanger = true">Error</button>
                <button type="button" ng-class="{'skylle-not-active': !showWarning}" class="btn btn-default btn-warning" ng-click="changeConfig(30000)" ng-init="showWarning = true">Warning</button>
                <button type="button" ng-class="{'skylle-not-active': !showInfo}" class="btn btn-default btn-info" ng-click="changeConfig(20000)" ng-init="showInfo = true">Info</button>
                <button type="button" ng-class="{'skylle-not-active': !showDebug}" class="btn btn-default btn-debug" ng-click="changeConfig(10000)" ng-init="showDebug = true">Debug</button>
            </div>

            <button type="button" class="btn btn-default pull-right" ng-click="clearMessages()">
                <span class= "glyphicon glyphicon-remove-circle"></span> Clear
            </button>

            <div class="input-group pull-left skylle-search">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"/></span>
            </div>


        </div>
        <div class="skylle-fluid-container skylle-messages" scroll>
            <div ng-repeat="message in messages | showMessageLogLevel:this | filter:searchText" class="alert"
                  ng-class="getClassOfAlert(message)" ng-bind-html="showMessage(message)"/>
        </div>
    </div>
<!--<div class="skylle-border-hack"> <div class="container skylle-border-hack-container skylle-main-container"></div></div>-->
</body>
</html>
