<!DOCTYPE html>
<html>
<head>
    <title>Instalogger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="/static/images/instalogger.ico" itemprop="image">
    <link rel="shortcut icon" href="/static/images/instalogger.ico">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/instalogger.css" rel="stylesheet" media="screen">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="static/js/sockjs.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vertxbus-2.1.js"></script>
    <script src="static/js/angular-sanitize.min.js"></script>
    <script src="static/js/angular-animate.min.js"></script>
    <script src="static/js/angular-resource.min.js"></script>
    <script src="static/js/tinycon.min.js"></script>
    <script src="static/js/instalogger.js"></script>
</head>
<body ng-app="instaloggerApp">
    <div class="instalogger-main-container" ng-controller="messagesController">
        <div class="instalogger-fluid-container instalogger-controls instalogger-controls-fixed">
            <div class="btn-group pull-left">
                <button ng-repeat="logLevel in logLevels" type="button" ng-class="{'instalogger-not-active': !logLevel.show}"
                        class="btn btn-default {{logLevel.buttonStyle}}" ng-click="changeConfig(logLevel)">
                    {{logLevel.buttonName}}
                </button>
            </div>

            <div class="input-group instalogger-search">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"/></span>
            </div>
        </div>
        <div class="instalogger-fluid-container instalogger-fluid-message-container" scroll>

            <div class="panel panel-info" ng-repeat="server in servers">
                <div class="panel-heading instalogger-panel-server-heading">
                    {{server.name}}
                    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="clearServer(server)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div id="{{ 'message-' + message.id }}" ng-mouseover="overMessage(message)"
                         ng-repeat="message in server.messages | filter:searchText" class="alert"
                         ng-class="getClassOfAlert(message)" ng-bind-html="showMessage(message)"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
