<!DOCTYPE html>
<html>
<head>
    <title>Instalogger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="/static/images/instalogger.ico" itemprop="image">
    <link rel="shortcut icon" href="/static/images/instalogger.ico">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/instalogger.css" rel="stylesheet" media="screen">
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <script data-main="static/js/main" src="static/js/require.js"></script>
</head>
<body ng-app="instaloggerApp">
<div class="instalogger-main-container" ng-controller="messagesController">
    <script type="text/ng-template" id="connectionLost.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2><p class="text-danger">Connection to the server lost</p></h2>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/">Reload</a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="nameDialog.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Adding repeated messages</h3>
                </div>
                <div class="modal-body">
                    <form name="repeatedMessage">
                        <input type="text" class="form-control" ng-maxlength="15"
                               name="name" placeholder="Name" ng-model="name">
                    </form>
                    <div class="alert alert-danger" ng-show="repeatedMessage.name.$error.maxlength">
                        Too long!
                    </div>
                    <span class="error" ng-show="repeatedMessage.name.$error.maxlength"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            ng-show="!repeatedMessage.name.$error.maxlength"
                            ng-click="ok(name)">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="messageDialog.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert"  ng-class="getClassOfAlert(message)">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default btn-xs" clip-copy="message.text"
                                    ng-show="isError(message)">
                                <span class="fa fa-clipboard"/>Copy
                            </button>
                        </div>
                        <span class="instalogger-message-text"><log-message message="message"/></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </script>

    <div class="instalogger-fluid-container instalogger-controls instalogger-controls-fixed">
        <div class="btn-group btn-group-sm pull-left">
            <button ng-repeat="logLevel in logLevels" type="button"
                    ng-class="{'instalogger-not-active': !logLevel.show}"
                    class="btn btn-default {{logLevel.buttonStyle}}" ng-click="changeConfig(logLevel)">
                {{logLevel.buttonName}}
            </button>
        </div>
        <button type="button" class="btn btn-default btn-sm pull-right"
                ng-show="unreadErrorMessages.length > 0"
                ng-click="readAll()">
            <span class="glyphicon glyphicon-check"></span>Read all
        </button>

        <div class="input-group instalogger-search input-group-sm">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchText"
                   ng-change="searchTextChanged(searchText)">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"/></span>
        </div>
    </div>

    <div class="instalogger-fluid-container instalogger-fluid-message-container" scroll>
        <div class="instalogger-panel-row">
            <div class="panel panel-default instalogger-panel-message" ng-repeat="server in servers">
                <div class="panel-heading instalogger-panel-server-heading">
                    <span><server-ping server="server"/></span>
                    <i class="fa fa-refresh fa-spin" ng-show="server.refresh"></i>
                    {{server.name}}
                    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="clearServer(server)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="panel-heading instalogger-panel-server-heading"
                     ng-show="isExistsRepeatedMessage(repeatedMessages, server)">
                    <div>
                        <ul class="nav nav-pills">
                            <li ng-repeat="repeatedMessage in repeatedMessages | byServer:server"
                                class="active" ng-init="showRepeatedMessageAction = false"
                                ng-mouseenter="showRepeatedMessageAction = true"
                                ng-mouseleave="showRepeatedMessageAction = false">
                                <button type="button" ng-show="showRepeatedMessageAction"
                                        class="btn btn-danger instalogger-remove-repeated-message"
                                        ng-click="removeRepeatedMessage(repeatedMessage)">
                                    <span class="glyphicon glyphicon-trash"/>
                                </button>
                                <a href="#" class="instalogger-repeated-message-nav-pill">{{repeatedMessage.name}}
                                    <span class="badge">{{repeatedMessage.count}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body instalogger-message-panel-body" instalogger-scroll="messageScroll(server)">

                    <div id="{{ 'outer-' + server.id }}" style="overflow-y:hidden;">
                        <div id="{{ 'message-' + message.id }}" ng-mouseover="overMessage(message)"
                             ng-repeat="message in server.messages" class="alert"
                             ng-class="getClassOfAlert(message)">

                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default btn-xs" clip-copy="message.text"
                                        ng-show="isError(message)">
                                    <span class="fa fa-clipboard"/>Copy
                                </button>

                                <button type="button" class="btn btn-default btn-xs"
                                        ng-click="addRepeatedMessage(message, server)">
                                    <span class="fa fa-unlock-alt"/>Repeated
                                </button>
                            </div>


                            <span class="label label-danger instalogger-unread-label" ng-show="isUnread(message)">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                Unread
                            </span>
                            <span class="instalogger-message-text"><log-message message="message"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
